<!DOCTYPE html>
<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/mdl/material.indigo-lime.min.css">
    <link rel="stylesheet" href="~/Content/mdl/dataTables.material.min.css"/>
    <link rel="stylesheet" href="~/Content/style.css">

    @Styles.Render("~/font-awesome/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body ng-app="MyApp">
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    @Html.ActionLink("Lotify", "Index", "Home", new { area = "" }, new { @class = "mdl-navigation__link" })
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>


                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @Html.Partial("_LoginPartial")

                    <!-- Right aligned menu below button -->

                    <button id="menu-empleado"
                            class="mdl-button mdl-js-button colorblanco">
                          <i class="material-icons">more_vert</i>
                        Empleados
                    </button>
                    
                    <button id="menu-clientes"
                            class="mdl-button mdl-js-button colorblanco">
                        <i class="material-icons">more_vert</i>
                        Clientes
                    </button>

                    <button id="menu-lotes"
                            class="mdl-button mdl-js-button colorblanco">
                        <i class="material-icons">more_vert</i>
                        Lotes
                    </button>

                    <button id="menu-vistalotes"
                            class="mdl-button mdl-js-button colorblanco">
                        <i class="material-icons">more_vert</i>
                        Supervisar
                    </button>

                    <button id="menu-ventas"
                            class="mdl-button mdl-js-button colorblanco">
                        <i class="material-icons">more_vert</i>
                        Ventas
                    </button>

                    <!-- MENU DESPEGABLE DE EMPLEADOS -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="menu-empleado">
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Empleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Empleado Nuevo
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "EstadoEmpleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Estado Empleado
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "CargoEmpleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Cargo de Empleado
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Empleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Empleados
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "EstadoEmpleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Estados de Empleado
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "CargoEmpleado")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Cargo de Empleado
                            </a>
                        </li>
                    </ul>

                    <!-- MENU DESPEGABLE DE CLIENTES -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="menu-clientes">
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Cliente")" 
                               class = "mdl-navigation__link mdl-color-text--blue-grey-900">Clientes Nuevo
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "EstadoCliente")" class = "mdl-navigation__link mdl-color-text--blue-grey-900">Estado de Cliente
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Cliente")" class = "mdl-navigation__link mdl-color-text--blue-grey-900">Lista de Clientes
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "EstadoCliente")"
                               class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Estados de Cliente
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "CompaniaTelefono")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Companias Telefonicas
                            </a>
                        </li>

                    </ul>

                    <!-- MENU DESPEGABLE DE LOTES -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="menu-lotes">
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Lote")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Lote
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Area")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Area
                            </a>

                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "EstadoLote")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Estado de Lote
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Lotificadora")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Lotificadora
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Medida")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Medidas
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Manzana")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Registrar Manzana
                            </a>
                        </li>
                    </ul>

                    <!-- MENU DESPEGABLE DE VISTA DE LOTES -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="menu-vistalotes">
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Lote")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Lotes
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Area")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Areas
                            </a>

                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "EstadoLote")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Estados de Lote
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Lotificadora")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Lotificadora
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Medida")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Medidas
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Manzana")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Manzanas
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "TipoFinanciamiento")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Financiamiento
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "TipoPago")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Tipo de Pagos
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "MesPago")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Meses
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "CompaniaTelefono")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Lista de Companias Telefonicas
                            </a>
                        </li>
                    </ul>


                    <!-- MENU DESPEGABLE DE VENTAS -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="menu-ventas">
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "Venta")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Nueva Venta
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Index", "Venta")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Ventas Realizadas
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "TipoFinanciamiento")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Financiamiento
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "TipoPago")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Tipo de Pagos
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="@Url.Action("Create", "MesPago")" class="mdl-navigation__link mdl-color-text--blue-grey-900">
                                Meses
                            </a>
                        </li>
                    </ul>

                </nav>

            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                @Html.ActionLink("Inicio", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Acerca de", "About", "Home", new { @class = "mdl-navigation__link" })
                @Html.Partial("_LoginPartial")
            </nav>
        </div>

        <main class="mdl-layout__content fondo-lotify">
            <div class="page-content">
                @RenderBody()
            </div>
        </main>
    </div>

    
  


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>

    @Scripts.Render("~/mdl/js")
    <script src="~/Scripts/datatables/dataTables.material.min.js"></script>

    <!--Angular-->
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-local-storage.min.js"></script>
    <script src="~/Scripts/angular/angular-datatables.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <!--Services-->
    <script src="~/Scripts/app/services/appService.js"></script>

    <script src="~/Scripts/app.js"></script>

    <script>
        $(document).ready(function () {
            $('#lotifyTable').DataTable();
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>